<!DOCTYPE html>
<html>
  <head>
    <title>Content of page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
      <center>
        <h1>Cleaned content of web page is following</h1>
        <hr>
        <h4>{{ result }}</h4>
        <hr>
        <h1>Cleaned content of web page 1 found in entered url is following</h1>
        <hr>
        <h4>{{ result1 }}</h4>
        <hr>
        <h1>Cleaned content of web page 2 found in entered url is following</h1>
        <hr>
        <h4>{{ result2 }}</h4>
        <hr>
        <h1>Similarity score between web page 1 and web page 2</h1>
        <hr>
        <h4>{{ sim }}</h4>
        <hr>
      </center>  
  </body>
</html